:root {
    --color-main: #f1f0eb;
    --color-blue: #0057b7;
    --color-yellow: #ffd700;
    --color-grey: #d3d3d3;
    --ff-body: 'Smooch Sans', sans-serif;
}
* {
    margin:0;
    box-sizing: border-box;
    font-family: var(--ff-body);
    letter-spacing: .03em;
}
header {
    display:block;
    position: fixed;
    top:0;
    background: var(--color-blue);
    height: 5vh;
    width: 100%;
}
main {
    display:flex;
    position:relative;
    justify-content: center;
    top: 10vh;
    bottom: 10vh;
}
#main-par {
    font-size: 4vh;
    font-weight: 500;
padding-top: 5vh;
padding-bottom: 5vh;
    background: var(--color-grey);
    border: 1px solid darkgray;
    width: 30vw;
    padding: 2rem;
    box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.80), 0 -10px 20px -5px lightgray;
   
    position:absolute;
}
a {
    padding: .2rem;
    margin: .5rem auto;
    background: var(--color-blue);
    color: var(--color-yellow);
    font-weight: 600;
    text-decoration: none;
}

footer {
    height: 5vh;
    background-color: var(--color-yellow);
    position: fixed;
    display:block;
    width: 100%;
    bottom:0;
}

#footer-par {
    font-weight: 500;
    font-size: 3vh;
    color: black;
    text-align: center;
    display:block;
    
}