:root {
    --color-main: #f1f0eb;
    --color-header: #0057b7;
    --color-footer: #ffd700;
    --color-dark: #000;
    --color-light: #fafafa;
    --color-shadow: #8e8d8a;
    --ff-body: 'Smooch Sans', sans-serif;
}

* {
    box-sizing: border-box;
    color: var(--color-main);
    letter-spacing: .03em;
    margin: 0;
    max-width: 100%;
    font-family: var(--ff-body);
    overflow-y: hidden;

}

header {
    height: 10rem;
    background-color: var(--color-header);
    color: var(color-light);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title {
    font-weight: 600;
    font-size: 5vh;
}
.support {
    display:flex;
}
#btn-clickme {
    background: var(--color-light);
    color: var(--color-header);
    text-align:center;
    font-weight:600;
    font-size:5vh;
    padding: 1rem;
}
#btn-clickme:hover {
    background: var(--color-footer);
}
.btn {
    text-align: center;
    display:block;
    justify-content: center;
    padding-bottom: 1rem;
}
#reset {
    background-color: var(--color-light);
    border: none;
    color: var(--color-header);
    padding: .8rem 1rem;
    font-size: 4vh;
    font-weight: 500;
    cursor: pointer;
    border-radius: .3rem;
    transition: all .5s ease;
}

a {
    text-decoration: none;
}

#reset:hover {
    background-color: var(--color-footer);
}

.main {
    display: flex;
    flex-direction: column;
}

.scores-area,
.game-area {
    display: flex;
    flex-direction: row;
    width: 100%;
    height:auto;
    justify-content: space-around;
    align-items: center;
}

.scores-area > p {
    color: var(--color-dark);
    font-weight: 400;
    font-size: 8vh;
    text-align: center;
}

.scores {
    width: 33.33%;
    justify-content: center;
}
#result-message{
    color: white;
    font-weight: 700;
    font-size: 7vh;
    background: var(--color-header);
    padding: .3rem 1rem;
    display:none;
    text-align:center;
}


#user-score,
#computer-score {
    color: var(--color-dark);
    font-weight: 400;
    font-size: 6vh;
}

.scores-area {
    height: 20vh;
}

.game-area {
    height: 40vh;
}

svg {
    width: 9vw;
    height: auto;
    padding: 0.5rem;
}

.user-choices,
.computer-choices {
    display: flex;
}

.uchoice,
.cchoice {
    display: flex;
    flex-direction: column;
    cursor: pointer; 
}

.uchoice:hover > svg > path {
    stroke: var(--color-header);
}

footer {
    height: 5vh;
    background-color: var(--color-footer);
    position: fixed;
    width: 100%;
    bottom:0;
}

footer>p {
    font-weight: 500;
    font-size: 3vh;
    color: var(--color-dark);
    text-align: center;
}