:root {
    --color-blue: #0057b7;
    --color-yellow: #ffd700;
    --color-dark: #000;
    --color-light: #ffff;
    --ff-body: 'Smooch Sans', sans-serif;
    --shadow-default: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
}

* {
    box-sizing: border-box;
    color: var(--color-light);
    letter-spacing: .03em;
    margin: 0;
    max-width: 100%;
    font-family: var(--ff-body);
    overflow-y: hidden;
}

/* common parameters*/
.btn {
    background: var(--color-light);
    color: var(--color-blue);
    text-align: center;
    font-weight: 600;
    font-size: 2.5vmax;
    padding: .5rem;
    border-radius: .1rem;
    cursor:pointer;
    display:flex;
    box-shadow: var(--shadow-default);

}

a {
    text-decoration: none;
}

/*animations*/
#btn-clickme:hover {
    background: var(--color-yellow);
}

#btn-reset:hover {
    background-color: var(--color-yellow);
    transition: all .5s ease;
}

/*header: title, click me button (support)*/
header {
    height: 25vh;
    background-color: var(--color-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: var(--shadow-default);
    padding-inline: 3rem;
    
}
.title {
    display:flex;
    justify-content: flex-end;
    flex-direction: column;
}
.title >h1 {
    display:flex;
    font-weight: 700;
    font-size: 5vmax;
}
.title > p {
    display:flex;
    font-size: 2.5vmax;
    font-weight: 500;
}
.div-support {
    display:flex;
    justify-content: flex-end;
}
a#btn-clickme.btn {
    display:flex;
    border-radius: 0;
}

/*main: scores-area, game-area, reset-area*/
.main {
   position:relative;
    height: 100%;
}

.scores-area,
.game-area {
    width: 100%;
    position:relative;
}

/*scores-area: left(user score), middle(result), right(computer score)*/

.scores-area {
    height: 20vh;
    display: flex;
    align-items: center;
}
.scores-area>* {
    color: var(--color-dark);
    font-weight: 400;
    font-size: 5vmax;
    text-align: center;
    justify-content: center;
}

#user-score,
#computer-score {
    color: var(--color-dark);
    font-weight: 400;
    font-size: 4vmax;
}

#result-message {
    display:flex;
    align-items: center;
    color: var(--color-light);
    flex: 0 1 33.33%;
    font-weight: 700;
    font-size: 4vmax;
    background: var(--color-blue);
    visibility: hidden;
    text-align: center;
    box-shadow: var(--shadow-default);
    border-radius: .1rem;
}

.left {
    flex: 0 1 33.33%;
}

.right {
    flex: 0 1 33.33%;
}

/*game-area: user choices (left), computer choices(right), svg images*/
.game-area {
    height: 35vh;
    display:flex;
    width:100%;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
}
.user-choices,
.computer-choices {
    display: flex;
    flex-direction:row;
}
.user-choices {
    justify-content: flex-start;

}
.computer-choices {
    justify-content: flex-end;

}
/*game-area single choices, svg images*/
svg {
    width: 9vw;
    padding: .2rem;
    height:auto;
}
.user-choices, 
.computer-choices {
    display:flex;
    flex-wrap: wrap;
}

.uchoice,
.cchoice {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.uchoice:hover>svg>path {
    stroke: var(--color-blue);
}
/*reset-area: reset button*/
.reset-area {
    display: flex;
    height: 15vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#btn-reset {
    border:none;
    background:var(--color-light);
    align-items: center;
}
/*footer: credits paragraph*/

footer {
    display:flex;
    height: 5vh;
    justify-content: center;
    background-color: var(--color-yellow);
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: var(--shadow-default);

}
footer>p {
    display:flex;
    font-weight: 500;
    font-size: 1.5vmax;
    color: var(--color-dark);
    text-align: center;
    align-items: center;
}
/* media queries*/
@media only screen and (max-width: 768px) {
    .computer-choices, 
    .user-choices{
        flex-direction: column;
    }
    .main {
        display:flex;
        flex-direction: column;
    }
    .game-area{
        height: 45vh;
    }
    .reset-area {
        height: 5vh;
    }
    svg {
        width:18vw;
        height:auto;
    }
    .scores-area {
        font-size: 3vmax;
    }

}
