:root {
    --color-blue: #0057b7;
    --color-yellow: #ffd700;
    --color-dark: #000;
    --color-light: #f5f5f5;
    --ff-body: 'Smooch Sans', sans-serif;
    --shadow-default: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

* {
    box-sizing: border-box;
    font-family: var(--ff-body);
    letter-spacing: .03em;
    margin: 0;
    overflow: hidden;
}

/* header, home button */
header {
    top: 0;
    background: var(--color-blue);
    height: 5vh;
    width: 100%;
    box-shadow: var(--ff-shadow);
}

#home {
    padding-left: 5vw;
}

i {
    color: var(--color-light);
}

i:hover {
    color: var(--color-yellow);
}

/* main, paragraph and its elements*/
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: var(--color-light);

}

#par-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50vh;
    padding-inline: 1rem;
    box-shadow: 0px 6px 10px -3px var(--color-yellow), 0px -6px 10px -3px var(--color-blue);
}
#par-wrapper > div {
    display:flex;
}
p {
    font-size: 3vh;
    font-weight: 600;
}

#support {
    padding: .5rem 1rem;
    background: var(--color-yellow);
    box-shadow: 0px 6px 10px -3px var(--color-yellow), 0px -6px 10px -3px var(--color-blue);
    border-radius: 4px;
}
#support >* {
    color: var(--color-blue);
    text-decoration: none;
    font-weight: 700;
    font-size: 3vh;
}

#support:hover {
    text-decoration: none;

    background: var(--color-blue);
    transition: .5s ease-in-out;
    /*text-shadow: 2px 2px black;
    background: linear-gradient(to bottom, #0057b7 50%, #ffd700 50%);*/
}
#support>*:hover {
    color: var(--color-yellow);
    transition: .5s ease-in-out;
}

footer {
    height: 5vh;
    background-color: var(--color-yellow);
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: var(--ff-shadow);
}

#footer-par {
    font-weight: 500;
    font-size: 3vh;
    color: black;
    text-align: center;
    display: block;

}