:root {
	--color-blue: #0057b7;
	--color-yellow: #ffd700;
	--color-light: #f5f5f5;
	--ff-body: 'Smooch Sans', sans-serif;
	--shadow-link-flag: 0px 6px 10px -3px var(--color-yellow), 0px -6px 10px -3px var(--color-blue);
}

* {
	box-sizing: border-box;
	font-family: var(--ff-body);
	letter-spacing: .03em;
	margin: 0;
	overflow: hidden;
}
@media screen and (prefers-reduced-motion) {
	#home>*:hover, 
	i:hover,
	#support:hover,
	#support>*:hover {
		  transform: none;
		  transition: none;
	  }
}

/* header, home button */

header {
	top: 0;
	background-color: var(--color-blue);
	height: 5vh;
	width: 100%;
	box-shadow: var(--ff-shadow);
	display: flex;
	align-items: center;
}

#home {
	padding-left: 5vw;

}
#home>a {
	font-size: 4vh;
	font-weight: 500;
	display: flex;
	text-decoration: none;
	background-color: var(--color-blue);
	color: var(--color-light);
	align-items: baseline;
}
i {
	color: var(--color-light);
	background-color: var(--color-blue);
	margin-right: .5rem;
}

#home>*:hover, 
i:hover {
	color: var(--color-yellow);
	transition: .5s ease-in-out;
}

/* main, paragraph and its elements*/

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
	background-color: var(--color-light);
}

#par-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 60vh;
	padding-inline: 1rem;
}

#par-wrapper>div {
	display: flex;
}

p {
	font-size: 3vh;
	font-weight: 600;
}
/*link to SUPPORT UKRAINE NOW page*/
#support {
	padding: .5rem 1rem;
	background-color: var(--color-yellow);
	box-shadow: var(--shadow-link-flag);
	border-radius: 4px;
}

#support>* {
	color: var(--color-blue);
	text-decoration: none;
	font-weight: 700;
	font-size: 4vh;
}

#support:hover {
	text-decoration: none;
	background-color: var(--color-blue);
	transition: .5s ease-in-out;
}

#support>*:hover {
	color: var(--color-yellow);
	transition: .5s ease-in-out;
}

/*footer*/

footer {
	display: flex;
	height: 5vh;
	justify-content: center;
	background-color: var(--color-yellow);
	position: fixed;
	width: 100%;
	bottom: 0;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

footer>p {
	display: flex;
	font-weight: 500;
	font-size: 3vmin;
	text-align: center;
	align-items: center;
}